<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davidvillena.carta_electronica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".admin.AddPlatoAdmin" />
        <activity android:name=".main.GaleriaActivity" />
        <activity
            android:name=".main.EntrantesActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.CarneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.PescadoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.PostresActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".main.BebidaActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>